# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
-

# Variables de entorno (Contraseñas, API Keys como Last.fm)
.env
.env*

# Llaves de firma de Android (Certificados de tu app)
*.keystore
*.jks
android/key.properties
**/build/
**/.dart_tool/

# ( Si decides mantener Firebase ignorado, descomenta estas líneas, 
# pero recuerda que el proyecto no compilará para quien lo descargue:
# android/app/google-services.json
# ios/Runner/GoogleService-Info.plist
# macos/Runner/GoogleService-Info.plist
# lib/firebase_options.dart